<form (ngSubmit)="submit()" [formGroup]="createAddressForm">
  <h2>Criar Endereço:</h2>
  <button (click)="handleCloseModal()">
    <mat-icon class="close">close</mat-icon>
  </button>
  <div>
    <input type="text" placeholder="CEP" formControlName="zipCode" />
  </div>
  <div>
    <input type="text" placeholder="Endereço" formControlName="address" />
  </div>
  <div>
    <input type="number" placeholder="Número:" formControlName="number" />
  </div>
  <div>
    <input
      type="text"
      placeholder="Complemento:"
      formControlName="complement"
    />
  </div>
  <div>
    <input type="text" placeholder="bairro:" formControlName="neighborhood" />
  </div>
  <div><input type="text" placeholder="Estado:" formControlName="state" /></div>
  <div>
    <input type="text" placeholder="Cidade:" formControlName="city" />
  </div>
  <button type="submit">Cadastrar</button>
</form>
