<div class="modalOverlay">
  <div class="modalBox">
    <div class="ModalHeaders">
      <h2 class="title modal">Editando Endereço:</h2>
      <button (click)="setEditingAddressToNull()">
        <mat-icon class="close">close</mat-icon>
      </button>
    </div>
    <form class="formModal" (ngSubmit)="submit()" [formGroup]="editAddressForm">
      <div class="inputBox">
        <input type="text" placeholder="CEP" formControlName="zipCode" />
      </div>
      <div class="inputBox">
        <input type="text" placeholder="Endereço" formControlName="address" />
      </div>
      <div class="inputBox">
        <input type="number" placeholder="Número:" formControlName="number" />
      </div>
      <div class="inputBox">
        <input
          type="text"
          placeholder="Complemento:"
          formControlName="complement"
        />
      </div>
      <div class="inputBox">
        <input
          type="text"
          placeholder="bairro:"
          formControlName="neighborhood"
        />
      </div>
      <div class="inputBox">
        <input type="text" placeholder="Estado:" formControlName="state" />
      </div>
      <div class="inputBox">
        <input type="text" placeholder="Cidade:" formControlName="city" />
      </div>
      <div class="button">
        <button class="btn" type="submit">Editar</button>
      </div>
    </form>
  </div>
</div>
