<app-private-routes>
  <main>
    <div>
      <button (click)="handleLogout()">Sair</button>
      <h3>Seja bem-vindo, {{ person?.name }}</h3>
      <p>{{ person?.email }}</p>
    </div>
    <app-create-address-form></app-create-address-form>
    <ul *ngIf="personAddressList.length > 0">
      <li *ngFor="let address of personAddressList">
        <p>{{ address.zipCode }}</p>
        <h3>{{ address.address }}</h3>
        <span>{{ address.number }}</span>
        <p>{{ address.neighborhood }}</p>
        <span>{{ address.state }}</span>
        <p>{{ address.city }}</p>
      </li>
    </ul>
    <p *ngIf="personAddressList.length === 0">Crie o seu primeiro endereço</p>
  </main>
</app-private-routes>
