/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.trash {
  color: #8490ff;
}

.pencil {
  color: #8490ff;
}

.arrow {
  color: #8490ff;
}

.add {
  color: #8490ff;
}

.close {
  color: #8490ff;
}
