<form (ngSubmit)="submitRegisterForm()" [formGroup]="registerForm">
  <div>
    <h3>Cadastre-se</h3>
    <a routerLink="/">Arrow</a>
  </div>
  <div>
    <div>
      <input type="text" placeholder="Nome:" formControlName="name" />
      <p
        *ngIf="errors.name?.['required'] && registerForm.get('name')?.value!==null"
      >
        O nome é obrigatório!
      </p>
      <p *ngIf="errors.name?.['maxlength']">
        O nome pode ter no máximo 80 caracteres!
      </p>
    </div>
  </div>
  <div>
    <div>
      <input type="email" placeholder="E-mail" formControlName="email" />
      <p
        *ngIf="errors.email?.['required'] && registerForm.get('email')?.value!==null"
      >
        O e-mail é obrigatório!
      </p>
      <p *ngIf="errors.email?.['email']">
        Forneça um formato de e-mail válido!
      </p>
    </div>
  </div>
  <div>
    <div>
      <input type="password" placeholder="Senha:" formControlName="password" />
      <p
        *ngIf="errors.password?.['required'] && registerForm.get('password')?.value!==null"
      >
        A senha é obrigatória
      </p>
      <p *ngIf="errors.password?.['minlength']">
        A senha precisa ter no mínimo 8 caracteres
      </p>
      <p *ngIf="errors.password?.['pattern']">
        A senha precisa conter pelo menos uma letra maiúscula, uma letra
        minúscula, um número e um caractere especial
      </p>
    </div>
  </div>
  <div>
    <div>
      <select name="sex" formControlName="sex">
        <option value="">Sexo:</option>
        <option value="Male">Masculino</option>
        <option value="Female">Feminino</option>
        <option value="Other">Outro</option>
      </select>
      <p *ngIf="errors.sex?.['required'] && registerForm.get('sex')?.touched">
        Informar o sexo é obrigatório!
      </p>
    </div>
  </div>
  <div>
    <div>
      <input
        type="text"
        placeholder="Data de nascimento:"
        formControlName="birthDate"
      />
    </div>
    <p
      *ngIf="errors.birthDate?.['required'] && registerForm.get('birthDate')?.value!==null"
    >
      Informar a data de nascimento é obrigatório
    </p>
    <p *ngIf="errors.birthDate?.['pattern']">
      A data precisa ter o formato DD/MM/AAAA !
    </p>
  </div>
  <div>
    <div>
      <select name="civilState" formControlName="civilState">
        <option value="">Estado cívil:</option>
        <option value="Married">Casado(a)</option>
        <option value="Single">Solteiro(a)</option>
        <option value="Divorced">Divorciado(a)</option>
        <option value="Widower">Viúvo(a)</option>
      </select>
      <p
        *ngIf="errors.civilState?.['required'] && registerForm.get('civilState')?.touched"
      >
        Informar o seu estado cívil é obrigatório
      </p>
    </div>
  </div>
  <button type="submit">Cadastrar-se</button>
</form>
