<form [formGroup]="registerForm">
  <div>
    <h3>Cadastre-se</h3>
    <a routerLink="/">Arrow</a>
  </div>
  <div>
    <label for="name">Informe o seu nome:</label>
    <div>
      <input type="text" placeholder="Nome:" id="name" formControlName="name" />
    </div>
  </div>
  <div>
    <label for="email">Crie o seu e-mail:</label>
    <div>
      <input
        type="email"
        placeholder="E-mail"
        id="email"
        formControlName="email"
      />
    </div>
  </div>
  <div>
    <label for="password">Crie sua senha:</label>
    <div>
      <input
        type="password"
        placeholder="Senha:"
        id="password"
        formControlName="password"
      />
    </div>
  </div>
  <div>
    <select name="sex" id="type" formControlName="sex">
      <option value="">Informe o seu sexo:</option>
      <option value="Male">Masculino</option>
      <option value="Female">Feminino</option>
      <option value="Other">Outro</option>
    </select>
  </div>
  <div>
    <label for="birthdate">Data de nascimento:</label>
    <div>
      <input
        type="text"
        placeholder="ex:DD/MM/AAAA"
        id="birthdate"
        formControlName="birthDate"
      />
    </div>
  </div>
  <div>
    <select name="civilState" id="civilState" formControlName="civilState">
      <option value="">Informe o seu estado cívil:</option>
      <option value="Married">Casado(a)</option>
      <option value="Single">Solteiro(a)</option>
      <option value="Divorced">Divorciado(a)</option>
    </select>
  </div>
  <button type="submit">Cadastrar-se</button>
</form>
