<form (ngSubmit)="submit()" [formGroup]="loginForm">
  <h3>Faça Login</h3>
  <div>
    <div>
      <input type="email" placeholder="E-mail:" formControlName="email" />
      <p
        *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.value!==null"
      >
        O e-mail é obrigatório!
      </p>
    </div>
  </div>
  <div>
    <div>
      <input type="password" placeholder="Senha:" formControlName="password" />
      <p
        *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.value!==null"
      >
        A senha é obrigatória
      </p>
    </div>
  </div>
  <button type="submit">Entrar</button>
  <div>
    <p>Não possui cadastro? <a routerLink="/register">Cadastre-se</a></p>
  </div>
</form>
