.inputBox {
  input {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: var(--font-primary);
    font-size: clamp(0.5rem, 3vw, 0.82rem);
    color: #10111a;
    font-weight: 700;
    padding: 0 20px;
    height: 2.7rem;
    border-radius: 255px;
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);

    &:disabled {
      opacity: 0.5;
    }
  }
}

.cta {
  button {
    margin-top: 8px;
  }
  p {
    margin-top: 10px;
  }
}
